fastapi
uvicorn[standard]
python-dotenv
google-genai
motor
dnspython
chromadb
groq
python-multipart
prometheus-fastapi-instrumentator
python-dotenv
presidio-analyzer
presidio-anonymizer
transformers
torch
sentence-transformers
asyncpg
sqlalchemy[asyncio]
alembic
passlib[bcrypt]
python-jose[cryptography]
httpx
python-dateutil